.*/**
openspec/**
deploy/logs/
resource-admin/node_modules/*
resource-admin/dist/*
resource-web/node_modules/*
resource-web/dist/*
resource-api/__pycache__/
resource-api/**/__pycache__/
resource-api/venv/
resource-api/data/
resource-api/uploads/
resource-api/v5.4.21/
package-lock.json
*.pyc
nul